.widgets {
  flex: 0.2;
  padding: 1rem 2rem;
}
.widgets-wrapper {
  position: sticky;
  top: 6rem;
  background-color: #fff;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0.5rem;
}

.widgets-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0.4rem;
}

.widgets-header > h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.widgets-article {
  padding: 0.3rem 0.5rem;
  display: flex;
  gap: 0.4rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
}

.widgets-article:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.widgets-articleLeft .icon {
  font-size: 12px;
  color: #0177b7;
}
.widgets-articleRight h4 {
  font-size: 14px;
  color: #333;
}
.widgets-articleRight span {
  font-size: 13px;
  color: gray;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .widgets {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .widgets {
    display: none;
  }
}
@media only screen and (min-width: 876px) {
  .widgets {
    display: block;
  }
}
