.post-container {
  background-color: #fff;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.post-container .post__header {
  display: flex;
  gap: 0.8rem;
  padding: 1rem;
}

.post-container .post__header .post__desc p {
  font-size: 13px;
  color: gray;
  font-weight: 500;
}

.post-container .post__message {
  padding: 0.5rem 1rem;
  color: #333;
  font-weight: 500;
}

.post__actions {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0.3rem;
}

.adminOptions {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adminOptions:hover {
  background-color: whitesmoke;
}

.adminOptions-icon {
  font-size: 18px !important;
}

.options-wrapper {
  position: absolute;
  right: 0rem;
  top: 2.8rem;
  width: 10rem;
  padding: 0.4rem;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .options-wrapper {
    top: 2rem;
    right: 1rem;
  }
}
